<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/localization/messages_th.min.js"></script>
    <link href="styles/styleregister.css" rel="stylesheet">
    <script>
         $(document).ready(function(){

            if (sessionStorage.user_id == undefined || sessionStorage.user_id == "undefined") {
                    alert("You are not member yet, Please login first.");
                    window.location.replace("/login");
                }

            $("#btnsubmit").click(function(){
                
                var username = $("#txtUsername").val();
                var password = $("#txtPassword").val();   
                var cpassword = $("#txtConfirmPassword").val();
                var Phonenumber = $("#txtPhoneNumber").val();
                var gender = $("input[name='gender']:checked").val();
                


                ///----function Check input sing up----
                if (username == '' || Phonenumber == '' || password == '' || cpassword == '') {
                    alert("Please fill all fields!!!");
                }else if ((password.length) < 8) {
                    alert("Password should atleast 8 character in length!!");
                }else if(!(password).match(cpassword)) {
                    alert("Your passwords don't match. Try again?");
                }else{
                    //connect to server regis
                    $.ajax({
                        type: "POST",
                        url: "server.js",
                        data: {username:"username",password:"password",Phonenumber:"Phonenumber",gender:"gender"},
                        dataType: "dataType",
                        success: function (response) {
                            //jump to login
                        location.replace(response);
                        }
                    });
                }
            });
        });
    </script>
</head>
<body>
    <!-- Navigation -->

    <nav class="navbar navbar-expand-md navbar-light sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span> Home
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                        <img src="styles/images/logo_homepage1.png" style="display: block; margin-left: auto; margin-right: auto; width: 100px;" alt="">
                    <li class="nav-item active ml-3">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Notification</a>
                    </li>
                </ul>
            </div>

            <!-- login register -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-2">
        <img src="styles/images/logo_home_page.png" style="display: block; margin-left: auto; margin-right: auto; width: 80px;" alt="">
    </div>

    <!-- login -->
    
    <div class="rounded float-left ml-5">
        <img src="styles/images/logo_login.png" alt="">
    </div>
    
    <div class="container" id="register">
        <div class="login_form">
            <h1>Sign in</h1>
            <form method="POST" action="/register">
                <input type="text" id="txtUsername" placeholder="Username">
                <input type="int" id="txtPhoneNumber" placeholder="PhoneNumber">
                <input type="password" id="txtPassword" placeholder="Password">
                <input type="password" id="txtConfirmPassword" placeholder="Confirm Password"> 
                <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="femaleRadio" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="maleRadio" value="Male">Male
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="uncknownRadio" value="Unknown">Unknown
                                </label>
                            </div>
                        </div>
                    </div>
                </div>  
                <input type="submit" id="btnsubmit" value="Submit">
            </form>
            
    </div>
     
</div>
<div class="rounded float-right mr-5">
    <img src="styles/images/logo_REG.png" alt="">
</div>
</body>
</html>